name: Build Flutter Web

on:
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "main", "master" ]

jobs:
  build:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: ./whatsnextclient

    steps:
      - uses: actions/checkout@v4

      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          
      - name: Install dependencies
        run: flutter pub get

      - name: Create .env file
        run: |
          echo "API_URL=${{ secrets.API_URL }}" > .env
          echo "ENVIRONMENT=${{ secrets.ENVIRONMENT }}" >> .env

      - name: Build Web
        run: |
          flutter build web --release \
            --dart-define=API_URL="${{ secrets.API_URL }}" \
            --dart-define=ENVIRONMENT="${{ secrets.ENVIRONMENT }}"

      - name: Upload Web Build Artifact
        uses: actions/upload-artifact@v4
        with:
          name: web-build
          path: whatsnextclient/build/web
